<!-- <div  class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center"  > -->
      <!-- <div class="content text-center"> -->
        <!-- <h1 class="text-white ">WEB ZONE</h1> -->
      <!-- </div> -->
  <!-- </div> -->
<div  class="body ">


  <section class="index p-5 bg-gray ">
    <div class="container">
        <div class="row  align-items-center">

            <div class="col-lg-5 col-md-6 order-md-2 mb-5 mb-md-0 text-center ">

               
               
                <!-- <div class="d-grid gap-2"> -->
                <h1 >Welcome {{currentUser}}!!</h1>
                
                <!-- </div> -->
            </div>

            <div class="col-lg-7 col-md-6 home-img order-md-1">

                <div class="text-lg-right  text-lg-right">

                    <img class="img-fluid  w-lg-75 w-100 " src="../../../../../assets/gif_1.gif" alt="img1">
                </div>

            </div>

        </div>
    </div>
   </section>




  <!-- <div class="container my-5 d-grid gap-5">

    <button type="button" class="btn btn-primary border-3 btn-lg btn-block listofjob" routerLink="../listofjob">List of Jobs</button>
     

    <button type="button" class="btn btn-outline-primary border border-success btn-lg btn-block listofjob" routerLink="../createjob">Create Jobs</button> 
  
 </div> -->
 <!-- <h1>{{quote}}</h1> -->
    <!-- <div class="p-5 border">

     
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
    <div class="p-5 border">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
        natus iusto fugit id saepe neque rerum magni laudantium accusantium
        dolorem numquam quasi.
      </p>
    </div>
  
   -->

   <section class="pricing py-5" id="pricingdiv">
    <div class="container heading text-center">
        <h1 class="text-center font-wieght-bold text-white py-2 ">
            Employee Management Portal
        </h1>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="card text-center">
                    <div class="card-header"> Create job</div>
                    <div class="card-body">
                      <img class="card-img-top" src="../../../../../assets/job4.gif" alt="">

                    </div>
                    <div class="card-footer">
                        <a href="#" routerLink="../createjob">click</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="card text-center">
                    <div class="card-header" >List of job</div>
                    <div class="card-body">
                      <img class="card-img-top" src="../../../../../assets/MicrosoftTeams-image (3).png" alt="">
                    </div>
                    <div class="card-footer">
                        <a href="#" routerLink="../listofjob">click</a>
                    </div>
                </div>
            </div>
            
          </div>
            
        </div>       
        
  
</section>
</div>
