<nav class="navbar navbar-expand-lg navbar-light backcolor p-md-2">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/">Employee Management Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col justify-content-end">
       
     
          <li class="nav-item p-2">
            <button type="button" class="btn btn-light btn-outline-dark " routerLink="/login">Login</button>
      
          </li>
          <li class="nav-item p-2">
            <button type="button" class="btn btn-light btn-outline-dark" routerLink="/signup">Signup</button>
      
          </li>      
          <!-- <li class="nav-item p-2">
            <button type="button" class="btn btn-light btn-outline-dark" routerLink="/signup">About</button>
      
          </li>  -->

      </ul>
      <!-- <form class="d-flex justify-content-betwee ">
        <button class="btn btn btn-light btn-outline-dark " type="submit">login</button>
       
        <button class="btn btn btn-light btn-outline-dark" type="submit">Signup</button>
      </form> -->
    </div>
  </div>
</nav>

















<!-- <mat-toolbar id="bg"> -->
    <!-- <span class="p-2 home_img"><img src="../../../assets/company_logo.jpg" alt=""></span> -->
    <!-- <span  class="text-white">   </span>
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="col d-flex  justify-content-end">
       
        <div class=" p-2 login">
            <button mat-button mat-raised-button  [routerLink]="'/login'">login</button>
        </div>
        
        <div class="p-2 singup">
            <button mat-button  mat-raised-button [routerLink]="'/login'">Signup</button>
        </div>
      
    </div> -->
       
        
     
   
<!-- </mat-toolbar  > -->


<!-- <mat-toolbar color="primary" class="app-header">
  <div><a href="#" target="_blank" class="positronx">Demo</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="signin" routerLinkActive="active">Signin</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Signup</a>
  </span>
</mat-toolbar> -->