<!-- 
<div class="gallery min-vh-100 half">
    <div class="row">

        <div class="col-lg-4 bg-info">
        

        </div>
        <div class="col-lg-8">
            Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Eius sit eaque veritatis commodi q
            uisquam sapiente voluptatum pariatur consequuntur necessitatibus praesentium magni reprehenderit, reiciendis est cumque explicabo, excepturi dolor at sequi.
        </div>
    </div>
</div> -->

<!-- 

<div class="split left">
    <div class="centered">
      <img src="../../../../../assets/communication.png" alt="Avatar woman">
    </div>
  </div> -->

  <!-- <div class="split right">
    <div class="centered">
         <h2>John Doe</h2>
      <p>Some text here too.</p>
    </div>
  </div>
  <div class="container my-5 d-grid gap-5">

    <button type="button" class="btn btn-primary border-3 btn-lg btn-block listofjob"routerLink="../listofjob">List of Jobs</button>
     

    <button type="button" class="btn btn-outline-primary border border-success btn-lg btn-block listofjob" routerLink="../createjob">Create Jobs</button> 
  
 </div>

   -->

   <section class="index mt-3 mb-5 bg-gray pt-6">
    <div class="container">
        <div class="row  align-items-center">

            <div class="col-lg-5 col-md-6 order-md-2 mb-5 mb-md-0">

                <h2 class="text-center">{{quote}}</h2>
               
                <!-- <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-success btn-lg" routerLink="../myjob" >My jobs</button>
                </div> -->
            </div>

            <div class="col-lg-7 col-md-6 home-img order-md-1">

                <div class="text-lg-right  text-lg-right">

                    <img class="img-fluid  w-lg-75 w-100 " c src="../../../../../assets/communication.png" alt="img1">
                </div>

            </div>

        </div>
    </div>
   </section>

   <div class="container mt-5 mb-3 ">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card showbox">
                <img class="card-img-top" src="../../../../../assets/searchjob1.gif" alt="">

                <div class="card-body text-center d-grid gap-2">
                    <button class="btn btn-outline-success btn-lg" type="button" routerLink="../showjob">Search Job</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4 ">
            <div class="card showbox">
                <img class="card-img-top" src="../../../../../assets/enroll-now.gif" alt="">

                <div class="card-body text-center d-grid gap-2">
                    <button class="btn btn-outline-success btn-lg" type="button" routerLink="../enrolljob">Enoroll Job</button>
                </div>
            </div>
        </div>
    </div>
</div>
